.App {
  text-align: center;
  display: flex;
  flex-direction: column; /* Organise les éléments enfants verticalement */
  justify-content: center; /* Centre les éléments verticalement */
  align-items: center; /* Centre les éléments horizontalement */
  height: 100vh; /* Prend toute la hauteur de la fenêtre de visualisation */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.canvas {
  display: grid;
  grid-template-columns: repeat(10, 20px); /* Crée un canevas de 10x10 */
  gap: 2px; /* Espacement entre les pixels */
  background-color: #ccc; /* Couleur de fond pour les espaces */
  padding: 1px; /* Ajoute un peu d'espace autour du canevas */
}

.pixel {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc; /* Optionnel: Ajoute une fine bordure à chaque pixel */
}
